<div class="flex justify-center relative inline-block select-none whitespace-nowrap rounded-lg bg-purple-800 px-2 py-2 mx-3  text-xs font-bold uppercase leading-none text-white rounded-2xl">
    <div class="mt-px"><slot /></div>
</div>