---
import OpenLinkIcon from "../icons/OpenLinkIcon.astro";
---

<ul class="transition hover:bg-blue-400 w-fit flex justify-center relative inline-block select-none whitespace-nowrap bg-blue-900 px-2 py-2 mt-4 text-xs font-bold leading-none text-white rounded-md align-center items-center justify-center">
    <li>
        <a href="https://www.github.com/" class="flex flex-row gap-1 text-[.9rem] justify-center align-center items-center"><OpenLinkIcon/>Source Code in GitHub</a>
    </li>
</ul>